 <ul>
          <li class="active"><a href="/home"><span>Home Page</span></a></li>
          <li><a href="/customers"><span>customers</span></a></li>
          <li><a href="about.html"><span>About Us</span></a></li>
          <li><a href="blog.html"><span>Gallery</span></a></li>
          <li><a href="/contactus"><span>Examples</span></a></li>
          <li><a href="/addresses/new"><span>Contact Us</span></a></li>

        </ul>